<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>lesson-09</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>task01.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logging</servlet-name>
    <servlet-class>task01.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>magazine</servlet-name>
    <servlet-class>task01.servlet.MagazineController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>task01.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>readMagazines</servlet-name>
    <servlet-class>task01.servlet.MagazineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>subscribe</servlet-name>
    <servlet-class>task01.servlet.SubscribeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logging</servlet-name>
    <url-pattern>/logging</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>magazine</servlet-name>
    <url-pattern>/magazine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readMagazines</servlet-name>
    <url-pattern>/readMagazines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>subscribe</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>
</web-app>